.icon-artifact-logo-austin { background-image: url('png/artifact-logo-austin.png'); background-repeat: no-repeat; }

.icon-artifact-logo-b { background-image: url('png/artifact-logo-b.png'); background-repeat: no-repeat; }

.icon-artifact-logo-prov { background-image: url('png/artifact-logo-prov.png'); background-repeat: no-repeat; }

.icon-artifact-logo { background-image: url('png/artifact-logo.png'); background-repeat: no-repeat; }

.icon-button { background-image: url('png/button.png'); background-repeat: no-repeat; }

.icon-circles-austin { background-image: url('png/circles-austin.png'); background-repeat: no-repeat; }

.icon-circles-black-austin { background-image: url('png/circles-black-austin.png'); background-repeat: no-repeat; }

.icon-circles-black { background-image: url('png/circles-black.png'); background-repeat: no-repeat; }

.icon-circles-black2 { background-image: url('png/circles-black2.png'); background-repeat: no-repeat; }

.icon-circles-pink-austin { background-image: url('png/circles-pink-austin.png'); background-repeat: no-repeat; }

.icon-circles-pink-prov { background-image: url('png/circles-pink-prov.png'); background-repeat: no-repeat; }

.icon-circles-prov { background-image: url('png/circles-prov.png'); background-repeat: no-repeat; }

.icon-circles-white-austin { background-image: url('png/circles-white-austin.png'); background-repeat: no-repeat; }

.icon-circles-white-prov { background-image: url('png/circles-white-prov.png'); background-repeat: no-repeat; }

.icon-circles { background-image: url('png/circles.png'); background-repeat: no-repeat; }

.icon-circles2 { background-image: url('png/circles2.png'); background-repeat: no-repeat; }

.icon-close-black { background-image: url('png/close-black.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-crossover--left-light-gray { background-image: url('png/crossover--left-light-gray.png'); background-repeat: no-repeat; }

.icon-crossover--left-pink { background-image: url('png/crossover--left-pink.png'); background-repeat: no-repeat; }

.icon-crossover--right-pink { background-image: url('png/crossover--right-pink.png'); background-repeat: no-repeat; }

.icon-crossover-black { background-image: url('png/crossover-black.png'); background-repeat: no-repeat; }

.icon-crossover-darkgray { background-image: url('png/crossover-darkgray.png'); background-repeat: no-repeat; }

.icon-crossover-footer { background-image: url('png/crossover-footer.png'); background-repeat: no-repeat; }

.icon-crossover-lightgray { background-image: url('png/crossover-lightgray.png'); background-repeat: no-repeat; }

.icon-crossover-pink { background-image: url('png/crossover-pink.png'); background-repeat: no-repeat; }

.icon-crossunder-pink { background-image: url('png/crossunder-pink.png'); background-repeat: no-repeat; }

.icon-cut-in--left-black { background-image: url('png/cut-in--left-black.png'); background-repeat: no-repeat; }

.icon-cut-in--left-dark-gray { background-image: url('png/cut-in--left-dark-gray.png'); background-repeat: no-repeat; }

.icon-cut-in--left-light-gray { background-image: url('png/cut-in--left-light-gray.png'); background-repeat: no-repeat; }

.icon-cut-in--left-pink { background-image: url('png/cut-in--left-pink.png'); background-repeat: no-repeat; }

.icon-cut-in--right-black { background-image: url('png/cut-in--right-black.png'); background-repeat: no-repeat; }

.icon-cut-in--right-dark-gray { background-image: url('png/cut-in--right-dark-gray.png'); background-repeat: no-repeat; }

.icon-cut-in--right-light-gray { background-image: url('png/cut-in--right-light-gray.png'); background-repeat: no-repeat; }

.icon-cut-in--right-pink { background-image: url('png/cut-in--right-pink.png'); background-repeat: no-repeat; }

.icon-large-circle { background-image: url('png/large-circle.png'); background-repeat: no-repeat; }

.icon-large-circles { background-image: url('png/large-circles.png'); background-repeat: no-repeat; }

.icon-left-corner { background-image: url('png/left-corner.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-right-corner { background-image: url('png/right-corner.png'); background-repeat: no-repeat; }

.icon-social-facebook--white { background-image: url('png/social-facebook--white.png'); background-repeat: no-repeat; }

.icon-social-facebook { background-image: url('png/social-facebook.png'); background-repeat: no-repeat; }

.icon-social-lanyrd--white { background-image: url('png/social-lanyrd--white.png'); background-repeat: no-repeat; }

.icon-social-lanyrd { background-image: url('png/social-lanyrd.png'); background-repeat: no-repeat; }

.icon-social-twitter--white { background-image: url('png/social-twitter--white.png'); background-repeat: no-repeat; }

.icon-social-twitter { background-image: url('png/social-twitter.png'); background-repeat: no-repeat; }

.icon-spiral-a-logo { background-image: url('png/spiral-a-logo.png'); background-repeat: no-repeat; }

.icon-spiral { background-image: url('png/spiral.png'); background-repeat: no-repeat; }

